<div class="show-question">
<p>
  <b><%= t("views.questions.text_show") %></b>
  <%= @question.text %>
</p>
<h4><%= t("views.questions.choice") %></h4>
<ul>
  <% @question.choices.each do |choice| %>
   <li>
    <%= choice.text %>
    <% if choice.correct %> (Correct) <% end %>
    <%= form_tag({:controller => "choices", :action => "destroy"}) do %>
      <%= hidden_field_tag :question, @question.id %>
      <%= hidden_field_tag :choice, choice.id %>
      <%= submit_tag t("views.users.delete") %>
    <% end %>
   </li>
  <% end %>
</ul>
<h5><%= t("views.questions.new_choice") %></h5>
<%= form_tag({:controller => t("views.questions.choice1"), :action => t("views.questions.create1")}) do %>
  <%= hidden_field_tag :question, @question.id %>
  <%= label_tag :text, t("views.questions.text") %><br />
  <%= text_field_tag :text %>
  <br />
  <%= check_box_tag :correct %>
  <%= label_tag :correct, t("views.quiz.answer_check_true") %>
  <br />
  <div class="choice-create">
  <%= submit_tag t("views.questions.create") %>
  </div>
<% end %>
<%= link_to t("views.questions.edit"), edit_question_path(@question) %> |
<%= link_to t("views.questions.back"), questions_path %>
</div>
