<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-side-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag(t "views.static_pages.image_1", alt: "Toeic1") %>
    </div>
    <div class="item">
      <%= link_to image_tag(t "views.static_pages.image_2", alt: "Toeic1") %>
    </div>
    <div class="item">
      <%= link_to image_tag(t "views.static_pages.image_3", alt: "Toeic1") %>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only"><%= t "views.static_pages.Previous" %></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only"><%= t "views.static_pages.next" %></span>
    </a>
  </div>
</div>
<p style="text-align: center" >Recent posts</p>
<% @posts.each do |post| %>
<section class="col-md-3 ">
  <div class="auto-container">
     <div class="row clearfix">

       <div >
         <article class="inner-box">
           <figure class="image">
             <a><%=link_to image_tag(post.picture),  post_path(post) %></a>
             <div class="overlay">
             <span class="left-curve"></span>
           </figure>
           <div class="content">
             <h3><%= truncate post.title, length: 20 %></h3>
             <div class="text">
               <p>

               <p>
             </div>
             <div class="read-more normal-btn theme-btn"><%=link_to "Xem Chi tiet", post_path(post) %></div>
           </div>
         </article>
       </div>

     </div>
  </div>
</section>
<% end %>
