<% provide(:title, t("views.users.Edit_t") ) %>
<h1><%= t "views.users.edit_title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user  do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <% if @user.img_profile %>
        <p><%= image_tag(@user.img_profile) %></p>
      <% else %>
        <div class="khoi">
          <div class="img-profile img-thumbnail">
            <p><%= image_tag("profile.jpeg") %></p>
          </div>
        <div class="upload">
          <span class="glyphicon glyphicon-camera"></span>
          <%= f.file_field :img_profile , placeholder: t("views.courses.image_str") %>
        </div>
        </div>
      <% end %>
      <br>
      <%= f.label :name, id: "form-lbl" %>
      <%= f.text_field :name ,class: "form-control" %>

      <%= f.label :email, id: "form-lbl" %>
      <%= f.email_field :email,class: "form-control"  %>

      <%= f.label :address, id: "form-lbl" %>
      <%= f.text_field :address, class: "form-control"   %>

      <%= f.label :birthday, id: "form-lbl" %>
      <%=  f.date_field :birthday,class: "form-control" %>

      <%= f.label :phone, id: "form-lbl" %>
      <%= f.text_field :phone, class: "form-control"   %>

      <%= f.label :password, id: "form-lbl" %>
      <%= f.password_field :password,class: "form-control"  %>

      <%= f.label :password_confirmation, t("views.users.Confirmation") %>
      <%= f.password_field :password_confirmation,class: "form-control"  %>

      <%= f.submit t("views.users.Save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
