<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
</h1>
<h1>
Name:
<%= @user.name %>
</h1>
<h1>
Address:
<%= @user.address %>
</h1>
<h1>
Birthday:
<%= @user.birthday %>
</h1>
<h1>
Phone:
<%= @user.phone %>
</h1>

