<%= form_for(@post) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
  <%= f.text_area :title%>
  <%= f.cktext_area :content%>


  <%= f.submit t("views.shared.post_t"), class: "btn btn-primary" %>
   <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>
</div>
