<div>
  <%= link_to image_tag("banner-1.jpg", alt: "banner", class: "banner") %>
</div>
<div style="background: #f1f1f1;">
  <div class="container view">
    <p class="title-text"><%= t "views.courses.title" %></p>
    <%= will_paginate %>
      <div class="row">
        <% @courses.each do |course| %>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="product-item">
              <div>
                <div class="image-wrapper">
                  <%= link_to image_tag(course.image), "#" %>
                </div>
                <h3 class="title-course">
                  <%= link_to course.title, "#" %>
                </h3>                
                <span class="short-text"><%= raw course.content %></span>                   
                <%= link_to t("views.courses.btn_show_course"), "#", class: "btn-left" %>
                <%= link_to t("views.courses.btn_register_course"), new_register_path, class: "btn-right" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <%= will_paginate %>
  </div>
</div>
