<div class="container">
  <div>
    <p class="title-text">All posts</p>
  </div>
  <div style="margin-bottom: 20px; margin-left: 50px;">
    <%= link_to "New course", new_post_path, class: "btn btn-primary" %>   
  </div>
  <div class="col-md-12">
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th><%= t("views.posts.id_str") %></th>
        <th><%= t("views.posts.title_str") %></th>
        <th><%= t("views.posts.image_str") %></th>
        <th><%= t("views.posts.name_str") %></th>
        <th><%= t("views.posts.option_str") %></th>
      </tr>
    </thead>
    <tbody>
       <% @posts.each do |post| %>
      <tr>
        <td><%= post.id%></td>
        <td><%= post.title%></td>
        <td class="tb-img"><%= image_tag(post.picture) %></td>
        <td><%= post.name%></td>
        <td>
          <%= link_to "", edit_post_path(post), class: "glyphicon glyphicon-edit" %>
          <br>
          <%= link_to "", post, method: :delete, data: {confirm: "Do you want delete?"},class: "glyphicon glyphicon-trash" %>  
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
  </div>
</div>