<div class="footer">
	<div class="container">
	<div class="col-md-4 grid">
		<h3>ABOUT</h3>
		<p>ENGLISH EXPRESS</p>
	</div>
	<div class="col-md-4 grid">
		<div class="row">
			<h3>FOLLOW US</h3>
		</div>
		<div class="icon">
			<div>
			<%= link_to image_tag("fb.png"), "#", class: "img-thumbnail" %>
			<%= link_to "FACEBOOK", "#"%>
			</div>
			<br>
			<div>
			<%= link_to image_tag("tw.png"), "#", class: "img-thumbnail" %>
			<%= link_to "TWITTER", "#"%>
			</div>
			<br>
			<div>
			<%= link_to image_tag("gg.png"), "#", class: "img-thumbnail" %>
			<%= link_to "GOOGLE", "#"%>
			</div>
			<br>
			<div>
			<%= link_to image_tag("intagram.png"), "#", class: "img-thumbnail" %>
			<%= link_to "INSTAGRAM", "#"%>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<h3>CONTACT INFO</h3>
		</div>
		<div class="icon">
			<p>Phone : 1800 1091</p>
			<p>Fax : 04 7481 8424</p>
			<p>Email : havanhung0402@gmail.com</p>
			<p>Adress : 11th Floor, Handico Tower, Pham Hung, Mễ Trì, Nam Từ Liêm, Hà Nội</p>
		</div>
	</div>
</div>
</div>
<div class="copyright">
	<h5>Copyright © 2018 All Rights Reserved. Phát triển bởi FramgiaEdu</h5>
</div>