<header class="navbar navbar-fixed-top navbar-inverse head">
  <div class="container">
    <%= link_to "Toeic", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login", root_path %></li>
        <li><%= link_to "About Us", help_path %></li>  
      </ul>
    </nav>
  </div>
</header>
<div class="center jumbotron">
  <div class=menu_horizontal>
      <nav>
        <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", "#{}", id:"item" %><li/>
        <li><%= link_to "About", "#{}", id:"item" %><li/>
        <li><%= link_to "Help", "#{}", id:"item" %><li/>
        </ul>
      </nav>
  </div>
</div>



