
<div id="top">
  <div class="container">
    <div>
    <%= link_to "Toeic", root_path, id: "logo" %> 
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Đăng kí", root_path, class: "nav-top" %></li>
        <li><%= link_to "Đăng nhập", root_path, class: "nav-top" %></li>
        <li><%= link_to "Về chúng tôi", help_path, class: "nav-top" %></li>  
      </ul>
  </div>

<div class="top-menu">
        <ul class="nav navbar-nav navbar-left" id="nav-item">
        <li><%= link_to "Trang chủ", "#{}", id:"item" %><li/>
        <li><%= link_to "Giới thiệu", "#{}", id:"item" %><li/>
        <li><%= link_to "Các khóa học", "#{}", id:"item" %><li/>
        <li><%= link_to "Lịch khai giảng", "#{}", id:"item" %><li/>
        <li><%= link_to "Đội ngũ giảng viên", "#{}", id:"item" %><li/>
        <li><%= link_to "Video toeic", "#{}", id:"item" %><li/>
        <li><%= link_to "Liên hệ", "#{}", id:"item" %><li/>
        </ul> 
        <div class="search">
        <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:search) %>
        <%= submit_tag("Search") %>
        <% end %> 
        </div>   
</div>
</div>




